n8n/flujo_confirmacion_stripe.json
{
  "name": "Confirmación Stripe Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "stripe-webhook-tattoo-bot"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "rule-completed",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "checkout.session.completed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "rule-expired",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "checkout.session.expired",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "expired"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vftkpvcjmpgqxixabtwi.supabase.co/rest/v1/rpc/confirmar_pago_stripe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_session_id\": \"{{ $('Stripe Webhook').first().json.data.object.id }}\",\n  \"p_charge_id\":  \"{{ $('Stripe Webhook').first().json.data.object.payment_intent ?? null }}\"\n}",
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      },
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "confirmar_pago_stripe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vftkpvcjmpgqxixabtwi.supabase.co/rest/v1/rpc/expirar_pagos_vencidos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": { "parameters": [] },
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      },
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "expirar_pagos_vencidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Evento Ignorado",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [760, 440]
    },
    {
      "parameters": {
        "mode": "append",
        "clashHandling": {
          "values": {
            "resolveClash": "addSuffix"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Reunir Ramas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0007-0007-0007-000000000007",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [
          {
            "node": "confirmar_pago_stripe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "expirar_pagos_vencidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evento Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "confirmar_pago_stripe": {
      "main": [
        [
          {
            "node": "Reunir Ramas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expirar_pagos_vencidos": {
      "main": [
        [
          {
            "node": "Reunir Ramas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Evento Ignorado": {
      "main": [
        [
          {
            "node": "Reunir Ramas",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reunir Ramas": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "tattoo-bot"
  },
  "tags": [
    {
      "name": "stripe",
      "createdAt": "2026-03-04T00:00:00.000Z",
      "updatedAt": "2026-03-04T00:00:00.000Z"
    },
    {
      "name": "pagos",
      "createdAt": "2026-03-04T00:00:00.000Z",
      "updatedAt": "2026-03-04T00:00:00.000Z"
    }
  ]
}
